<h2>Add a Muso</h2>
<form name="addMusoForm" role="form">
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" class="form-control" ng-model="muso.firstName">
    </div>
    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" class="form-control" ng-model="muso.lastName">
    </div>
    <div class="form-group">
        <label for="phone-number">Phone Number</label>
        <input type="text" id="phone-number" class="form-control" ng-model="muso.phone">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" ng-model="muso.email">
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" id="location" class="form-control" ng-model="muso.location">
    </div>
    <div class="form-group row">
        <ul class="list-inline">
            <li ng-repeat="skill in skills | orderBy:'toString()' | uppercase">
                <label class="checkbox-inline">{{skill}}</label>
                <input type="checkbox" checklist-model="muso.instruments"  checklist-value="skill">
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <label class="radio-inline">
            <input ng-model="muso.rating" type="radio" name="rating" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input ng-model="muso.rating" type="radio" name="rating" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input ng-model="muso.rating" type="radio" name="rating" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input ng-model="muso.rating" type="radio" name="rating" id="inlineRadio4" value="4"> 4
        </label>
        <label class="radio-inline">
            <input ng-model="muso.rating" type="radio" name="rating" id="inlineRadio5" value="5"> 5
        </label>
    </div>
    <div class="form-group">
        <label for="notes">Notes / Tags</label>
        <input type="text" id="notes" class="form-control" ng-model="muso.notes">
    </div>
    <button ng-click="addMuso(); muso=''" type="submit" class="btn btn-primary btn-block">Save this Muso!</button>
</form>