
<div class="input-group">
    <div class="input-group-btn">
        <button ng-click="search='muso'" ng-class="{active: search == 'muso'}" type="button" class="btn btn-default">Muso</button>
        <button ng-click="search='venue'" ng-class="{active: search == 'venue'}"type="button" class="btn btn-default">Venue</button>
    </div><!-- /btn-group -->
    <input id="search" type="text" class="form-control" ng-model="searchText">
</div><!-- /input-group -->

<!-- Muso search results -->
<section ng-show="search == 'muso'">
    <div class="search-result-card" ng-show="searchText" ng-repeat="muso in musos | filter:searchText | filter:search">
        <h3><a ng-click="getMusoDetails(muso.$id)" href="/#/contact-details">{{muso.firstName}} {{muso.lastName}}</a></h3>
        <h4><span class="glyphicon glyphicon-phone"></span> &nbsp; {{muso.phone}}</h4>
        <ul class="list-unstyled list-inline">
            <li><span class="glyphicon glyphicon-music"></span></li>
            <li ng-repeat="skill in muso.instruments"> {{skill}} &nbsp; /</li>
        </ul>
    </div>
</section>

<!-- Venue search results -->
<!-- <div ng-show="search == 'venue'">
    <div class="table-responsive">
        <table ng-show="searchText" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="venue in musos | filter:searchText | filter:search">
                    <td><a ng-click="getVenueDetails(venue.$id)" href="/#/contact-details">{{venue.name}}</a></td>
                    <td>{{venue.phone}}</td>
                    <td>{{venue.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->


<!-- Venue search results -->
<section ng-show="search == 'venue'">
    <div class="search-result-card" ng-show="searchText" ng-repeat="venue in musos | filter:searchText | filter:search">
        <h3><a ng-click="getVenueDetails(venue.$id)" href="/#/contact-details">{{venue.name}}</a></h3>
        <h4><span class="glyphicon glyphicon-phone"></span> &nbsp; {{venue.phone}}</h4>
        <h4><span class="glyphicon glyphicon-globe"></span> &nbsp; {{venue.address}}</h4>
    </div>
</section>