<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">
                <button ng-click="search='muso'" ng-class="{active: search == 'muso'}" type="button" class="btn btn-primary">Muso</button>
            </div>
                <input id="search" type="text" class="form-control" ng-model="searchText">
            <div class="input-group-addon">
                <button ng-click="search='venue'" ng-class="{active: search == 'venue'}"type="button" class="btn btn-primary">Venue</button>
            </div>
        </div>
    </div>
</form>


<!-- Muso search results -->
<section ng-show="search == 'muso'">
    <div class="search-result-card" ng-show="searchText" ng-repeat="muso in musos | filter:searchText | filter:search">
        <h3><a ng-click="getMusoDetails(muso.$id)" href="/#/contact-details">{{muso.firstName}} {{muso.lastName}}</a></h3>
        <h4><span class="glyphicon glyphicon-phone"></span> &nbsp; {{muso.phone}}</h4>
        <ul class="list-unstyled list-inline">
            <li><span class="glyphicon glyphicon-music"></span></li>
            <li ng-repeat="skill in muso.instruments"> {{skill}} &nbsp; &#8226;</li>
        </ul>
    </div>
</section>

<!-- Venue search results -->
<section ng-show="search == 'venue'">
    <div class="search-result-card" ng-show="searchText" ng-repeat="venue in musos | filter:searchText | filter:search">
        <h3><a ng-click="getVenueDetails(venue.$id)" href="/#/venue-details">{{venue.name}}</a></h3>
        <h4><span class="glyphicon glyphicon-phone"></span> &nbsp; {{venue.phone}}</h4>
        <h4><span class="glyphicon glyphicon-globe"></span> &nbsp; {{venue.address}}</h4>
    </div>
</section>

<div class="add-btns">
    <a href="/#/add-muso" class="btn btn-danger">Add a Muso</a>
    <a href="/#/add-venue" class="btn btn-danger pull-right">Add a Venue</a>
</div>