<label for="search">Search</label>
<input id="search" type="text" class="form-control" ng-model="searchText">

<table ng-show="searchText" class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Instruments</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="muso in musos | filter:searchText">
                    <td>{{muso.firstName}}</td>
                    <td>{{muso.lastName}}</td>
                    <td>{{muso.phone}}</td>
                    <td>{{muso.instruments}}</td>
                    <td>{{muso.rating}}</td>
                </tr>
            </tbody>
        </table>